*,
*::before,
*::after {
    box-sizing: border-box;
}

/* css reset */
html,
body,
div,
header,
section,
main,
footer,
figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}

h1,
h2,
h3 {
    font-weight: 200;
    margin-top: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}


/* grid */
.container {
    margin: 0 auto;
    position: relative;
}


/* header */
.header {
    padding: 20px 15px;
    display: flex;
}

.brand {
    height: 48px;
    flex-shrink: 0;
    width: 30%;
}

.brand svg {
    height: 48px;
}

.svg-bg-color {
    fill:#c51e63;
}
.svg-text-color {
    fill:#fff;
}

nav {
    display: flex;
    flex-shrink: 1;
    width: 70%;
    flex-direction: row-reverse;
}


/* hero banner */
.hero {
    padding: 100px 0;
    background-color: #c51e63;
    color: #fff;
}

.hero .hero-inner {
    text-align: center;
    padding: 1em;
}

.hero .hero-inner h1 {
    font-size: 1.6em;
}

.hero .hero-inner p {
    font-size: 0.75em;
    font-weight: 100;
}

/* sections recent-works */
.recent-works {
    padding: 50px 15px;
}

.section-content {
    /*display: flex;*/
}

.recent-works article{
    width: 100%;
    flex-direction: column;
    flex-flow: row wrap;
}

.recent-works article figure{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}


/* Button */
.btn {
    font-size: 0.75em;
    padding: 0.55em 0.75em;
    text-align: center;
    white-space: nowrap;
}

.btn-cicle {
    border-radius: 10px;
}

.btn-primary {
    color: #c51e63;
    background-color: #fff;
    border: 2px solid #c51e63;
}