*,
*::before,
*::after {
    box-sizing: border-box;
}

/* css reset */
html,
body,
div,
header,
section,
main,
footer,
figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}

h1,
h2,
h3 {
    font-weight: 200;
    margin-top: 0;
}

p {
    font-weight: 100;
    font-size: 0.75em;
    line-height: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}


/* grid */
.container {
    margin: 0 auto;
    position: relative;
}


/* header */
.header {
    padding: 20px 15px;
}

.brand {
    height: 48px;
    flex-shrink: 0;
    width: 30%;
}

.brand svg {
    height: 48px;
}

nav {
    display: flex;
    flex-shrink: 1;
    width: 70%;
    flex-direction: row-reverse;
}


/* hero banner */
.hero {
    padding: 100px 0;
    background-color: #c51e63;
    color: #fff;
}

.hero .hero-inner {
    text-align: center;
    padding: 1em;
}

.hero .hero-inner h1 {
    font-size: 1.6em;
}

.hero .hero-inner p {
    font-size: 0.75em;
}

/* sections recent-works */
.recent-works,
.personal-startup {
    padding: 100px 15px;
}

.recent-works h2,
.personal-startup h2 {
    margin-bottom: 10px;
    text-align: center;
}

.recent-works p,
.personal-startup p {
    font-size: 0.75em;
    margin: 5px 0 40px;
    text-align: center;
}

.personal-startup {
    background-color: #c51e63;
    padding: 100px 15px;
    color: #fff;
}

.personal-startup h2,
.personal-startup p {
    color: #fff;
}

.section-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.recent-works article,
.personal-startup article {
    margin: 0 0 30px;
    width: 100%;
}

.recent-works article figure,
.personal-startup article figure {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 200px;
}

.recent-works article figure:hover figcaption,
.personal-startup article figure:hover figcaption {
    opacity: 1;
}

.recent-works article figcaption,
.personal-startup article figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20% 0 0 0;
    text-align: center;
}

.recent-works article figcaption h3,
.personal-startup article figcaption h3 {
    color: #fff
}

footer {
    padding: 100px 15px;
    text-align: center;
}

footer .brand {
    flex-shrink: inherit;
    width: inherit;
}

.social {
    display: inline-block;
    margin: 10px 0 30px;
}

.social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}


/* Button */
.btn {
    font-size: 0.75em;
    padding: 0.55em 0.75em;
    text-align: center;
    white-space: nowrap;
    transition: 2s ease;
}

.btn-cicle {
    border-radius: 10px;
}

.btn-primary {
    color: #c51e63;
    border: 2px solid #c51e63;
}

.btn-primary:hover {
    color: #f50057;
    border: 2px solid #f50057;
}

/* tablet */
@media screen and (min-width: 700px) and (max-width: 960px) {
    .container {
        padding: 0 15px;
    }
    .recent-works article,
    .personal-startup article {
        width: calc(50% - 15px);
    }
}

/* notebook and desktop */
@media screen and (min-width: 961px) {
    .container {
        width: 960px;
    }
    .recent-works article,
    .personal-startup article {
        width: 32%;
        flex-direction: row;
    }
}

/* help class */
.flex {
    display: flex;
}
.flex-item {
    align-items: center;
}

.svg-bg-color {
    fill: #c51e63;
}
.svg-text-color {
    fill: #fff;
}

.lead {
    font-size: 1em;
    line-height: 1em;
}